<div ng-controller="CheckersController">
        <div class="modal-header">
            <h3 class="modal-title">Matching</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="user in users">
                    <a href="#" ng-click="$event.preventDefault(); selected.users = user">{{ user }}</a>
                </li>
            </ul>
            <!--Selected: <b>{{ selected.item }}</b>-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="play()">Fight!</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</div>

